<div class="d-flex align-items-center gap-2 me-3" id="entity-actions" style="display:none;">
   
    @if(ViewData["Entity"] != null)
    {
        <a class="btn btn-outline-primary btn-square" data-permission="create" data-entity-action title="Create">
            <i class="bi bi-plus-lg"></i>
        </a>
        <a class="btn btn-outline-secondary btn-square" data-permission="download_csv" data-entity-action title="Download CSV">
            <i class="bi bi-download"></i>
        </a>
    }
    <a class="btn btn-outline-info btn-square" data-permission="execute_raw_queries" data-route="/QueryManager/Index" title="Query Manager">
        <i class="bi bi-terminal"></i>
    </a>
    <a class="btn btn-outline-warning btn-square" data-permission="view_promotions_list" href="/PromotionRequest/Index" title="Promotion List">
        <i class="bi bi-list-check"></i>
    </a>
    <a class="btn btn-outline-success btn-square" data-permission="ask_promotion" href="/PromotionRequest/Create" title="Ask Promotion">
        <i class="bi bi-envelope-plus"></i>
    </a>
</div>
