<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item" data-permission="read">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        @await Html.PartialAsync("_Facilities")
        @await Html.PartialAsync("_Health")
        @await Html.PartialAsync("_Humans")
        @await Html.PartialAsync("_Info")
    </ul>

    @await Html.PartialAsync("_EntityButtons")
    @await Html.PartialAsync("_AuthButtons")
</div>
