<li class="nav-item dropdown" data-permission="read">
    <a class="nav-link dropdown-toggle text-dark" href="#" id="facilitiesDropdown"
       role="button" data-bs-toggle="dropdown" aria-expanded="false">Facilities</a>
    <ul class="dropdown-menu" aria-labelledby="facilitiesDropdown">
        <li data-permission="read"><a class="dropdown-item" asp-controller="Cabinet" asp-action="Index">Cabinet</a></li>
        <li data-permission="read"><a class="dropdown-item" asp-controller="CabinetType" asp-action="Index">CabinetType</a></li>
    </ul>
</li>