<li class="nav-item dropdown" data-permission="read">
    <a class="nav-link dropdown-toggle text-dark" href="#" id="humansDropdown"
       role="button" data-bs-toggle="dropdown" aria-expanded="false">Humans</a>
    <ul class="dropdown-menu" aria-labelledby="humansDropdown">
        <li data-permission="read"><a class="dropdown-item" asp-controller="DistrictDoctor" asp-action="Index">DistrictDoctor</a></li>
        <li data-permission="read"><a class="dropdown-item" asp-controller="Doctor" asp-action="Index">Doctor</a></li>
        <li data-permission="read"><a class="dropdown-item" asp-controller="Patient" asp-action="Index">Patient</a></li>
        <li data-permission="read"><a class="dropdown-item" asp-controller="Person" asp-action="Index">Person</a></li>
        <li data-permission="read"><a class="dropdown-item" asp-controller="Specialty" asp-action="Index">Specialty</a></li>
    </ul>
</li>
